.idea
composer.lock
/vendor/
test*.php
HelloWorld.bin
/HelloWorld.asm
/Test*.asm
/Test*.bin
Test.bin
Triangle.asm
Triangle.bin
ubuntu-ja-22.04-desktop-amd64.iso
MS-DOS_6.22.iso
TinyCore*.iso
mikeos.iso
debug_iso.php
debug/
qemu
trace*
test*.log
test*.asm
test*.bin
test_*.iso
scripts/
