.idea
composer.lock
/vendor/
test*.php
HelloWorld.bin
/HelloWorld.asm
/Test*.asm
/Test*.bin
debug/
qemu
trace*
test*.log
test*.asm
test*.bin
test_*.iso
scripts/
.phpunit.cache
target/
seabios
logs/
images/
